.circular-square {
  border-radius: 50%;
  height:100px;
  width: 100px;
}

mat-card {
  margin: 5px;
  text-align: left;
}

.organization{
  padding-top: 20px;
}

.back-button {
  text-align: left;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}
